<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA Django</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <script src="{% static 'myapp/spa.js' %}" defer> </script>

</head>

<body>
    <nav>
        <a href="/page1/">Page 1</a> |
        <a href="/page2/">Page 2</a> |
        <a href="/pong/game/">Pong</a> |
        <!-- <a href="/pong/game/">Jeu pong</a> -->
    </nav>
    <div id="main-content">
        {% block content %}
            <h1>Bienvenue sur la page principale</h1>
        {% endblock %}
    </div>
</body>

</html>


