{% extends 'myapp/index.html' %}

{% block content %}
    <h1>Inscription</h1>
    <div class="container">
        <div class="form">
            <form method="post" action="{% url 'registration' %}">
                {% csrf_token %}
                
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for field in form %}
                <!-- Champs alignés verticalement avec un espacement -->
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }} <!-- Affiche le champ -->

                    <!-- Affichage des erreurs pour chaque champ -->
                    {% if field.errors %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>  <!-- Affiche chaque erreur pour ce champ -->
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </form>
            <p class="link">Déjà inscrit ? <a href="{% url 'user_login' %}">Se connecter</a></p>
        </div>   
    </div>
{% endblock %}


